<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/addprod" method="post">
      <label for="prodname">Enter Product Name :</label>
      <input type="text" name="prodname" id="prodname" />

      <label for="brand">Enter Brand :</label>
      <input type="text" name="brand" id="brand" />

      <label for="type">Enter Type :</label>
      <input type="text" name="type" id="type" />

      <label for="ram">Enter RAM :</label>
      <input type="number" name="ram" id="ram" />

      <label for="weighn">Enter weight :</label>
      <input type="number" name="weight" id="weight" />

      <label for="os">Enter OS :</label>
      <input type="string" name="os" id="os" />

      <label for="gpu">Enter GPU :</label>
      <input type="string" name="gpu" id="gpu" />

      <label for="touchscreen">Enter TouchScreen :</label>
      <input type="number" name="touchscreen" id="touchscreen" />

      <label for="ips">Enter IPS :</label>
      <input type="number" name="ips" id="ips" />

      <label for="harddrive">Enter Hard-Drive :</label>
      <input type="number" name="harddrive" id="harddrive" />

      <label for="ssd">Enter SSD :</label>
      <input type="number" name="ssd" id="ssd" />

      <label for="screenresolution">Enter Screen-Resolution :</label>
      <input type="number" name="screenresolution" id="screenresolution" />

      <label for="screensize">Enter Screen-Size :</label>
      <input type="number" name="screensize" id="screensize" />

      <label for="imageurl">Enter Image-Url :</label>
      <input type="number" name="imageurl" id="imageurl" />

      <label for="price">Enter Price :</label>
      <input type="number" name="price" id="price" />

      <button type="select">Create Product</button>
    </form>
  </body>
</html>
