<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/login.css" />
  </head>
  <body>
    <a href="/signin">Sign in</a>
    <form action="/login" method="post">
      <label for="email">Enter Email: </label>
      <input type="email" id="email" name="email" />
      <label for="password">Enter Password :</label>
      <input type="password" id="password" name="password" />
      <button type="submit">Log in!!</button>
    </form>
  </body>
</html>
