<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/loginStyle.css" />
  </head>
  <body>

    <div class="container">
      <div class="header">
        <h1>If you are not logged in</h1>
      </div>
      <div class="hero">
        <a href="/signin">Sign in</a>
      </div>
      <div class="submit">
        
       
        <form action="/login" method="post">
          <div class="email">
            <label for="email">Enter Email:       </label>
          <input type="email" id="email" name="email" />
          </div>
          <div class="pass">
            <label for="password">Enter Password:     </label>
            <input type="password" id="password" name="password" />
          </div>
         
          <div class="send">
            <button type="submit">Log in!!</button>
          </div>
          
        </form>
      </div>
    </div>
    
    
    
  </body>
</html>
