<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My eCommerce Website</title>
    <style>
      body {
        font-family: 'Arial', sans-serif;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
      }

      header {
        background-color: hsla(227, 39%, 75%, 1);
        color: #fff;
        padding: 10px;
        text-align: center;
      }

      nav {
        background-color: rgb(127, 145, 211);
        padding: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
      }

      nav a {
        width: auto;
        display: inline-block;
        color: #fff;
        text-decoration: none;
        padding: 10px 20px;
        margin: 0 10px;
        border-radius: 5px;
        transition: background-color 0.3s;
      }

      nav a:hover {
        background-color: #555;
      }

      section {
        padding: 20px;
        text-align: center;
      }

      footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

    </style>
  </head>
  <body>
    <header>
      <a href="#" class="logo">
        <img
          src="./assets/images/logo.svg"
          width="132"
          height="27"
          alt="shoppie home"
        />
      </a>
    </header>

    <nav>
      <a href="/addprod">Add a Product</a>
      <a href="/deleteprod">Delete a Product</a>
      <a href="/myprod">View My Products</a>
    </nav>

    <section>
      <p>Welcome to our eCommerce website!</p>
      <!-- Your main content goes here -->
    </section>

    <footer>
      &copy; Cronoz Store
    </footer>
  </body>
</html>