<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/sign-in.css" />
  </head>
  <body>
    <div>
      <form action="/signin" method="post" class="form-signin">
        <div class="header">SIGN IN</div>
        <label for="username">Enter Username : </label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Username"
          required
        />
        <label for="email">Enter Email : </label>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <label for="password">Enter Password : </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
        <button type="submit">Sign In!!</button>
      </form>
    </div>
  </body>
</html>
