/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles for the body */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Style for the form container */
.form-signin {
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for form labels */
label {
  display: block;
  margin-bottom: 8px;
}

/* Style for form inputs */
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the submit button */
button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* Style for the logo */
.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  width: 100%; /* Make the logo responsive within its container */
  height: auto;
  max-width: 200px; /* Set a max-width to control the logo size */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
